/* styles.css */

a{
    color: #000000; 
    font-weight: 600; 
    font-size: 18px;
    text-decoration: none;
}

p {
    color: #fff; /* White text */
    font-weight: 600; /* Semibold font-weight */
    font-size: 18px; /* 20px font-size */
    padding-right: 15px;
    border-right: 2px solid white;
    padding-bottom: 7px;
  }
  

.header {
    background-color: #6c757d; /* Replace with your desired background color */
    color: #fff; /* White text */
    display: flex;
    justify-content: start;
    align-items: end;
    height: 72px; /* Adjust the header height as needed */
  }

.custom-border-right-black {
    border-right: 2px solid black;
  }
  